.side-nav {
    display: inline-block;
    vertical-align: top;
    width: 225px;
}

.side-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.side-nav h3 {
    padding: 10px;
}

.side-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.projects {
    display: inline-block;    
    width: calc(100% - 225px);
    padding-left: 10px;
    vertical-align: top;
}

.project {
    width: 100%;
    margin-bottom: 40px;
}

.project p {
    text-align: center;
    margin-bottom: 20px;
}

.project-visual-big {
    object-fit: cover;
    width: 100%;
    margin: 20px 0;
}

@media screen and (max-width: 700px) {
    .side-nav {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .projects {
        display: block;
        width: 100%;
        padding-left: 0px;
    }
}